###> symfony/framework-bundle ###
/output/
/old/*
/public/*
composer.lock
symfony.lock
yarn.lock
.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/public/tests/
/var/log/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

